.font-source-sans-3 {
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
}

.font-fraunces {
  font-family: "Fraunces", serif;
  font-style: normal;

}

.hidden {
  display: none;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.place-items-center {
  place-items: center;
}

.h-svh {
  height: 100svh;
}

